# Versi optimal
.git
__pycache__/
*.py[cod]
*.pyo
*.log
*.env
*.db
*.sqlite
*.ipynb

node_modules/
venv/
tests/
*.csv  # <--- hanya jika dataset tidak diperlukan saat deploy

# Package-related
*.egg-info/
*.tar.gz
*.whl
